<div class="row m-t-2">
  <div class="index col-md-6 text-md-center">
    <a href="/books">
      <img class="index img-fluid m-x-auto d-block" src="http://www.clipartsfree.net/vector/large/1309128948_Vector_Clipart.png" alt="books" />
      <h4 class='text-xs-center'>View All Books</h4>
    </a>
  </div>

  <div class="index col-md-6 text-md-center">
    <a href="/authors">
      <img class="index img-fluid m-x-auto d-block" src="http://www.clker.com/cliparts/a/1/a/e/11971216961464452784ernes_mano_con_penna_-_hand_and_pen.svg" alt="author" />
      <h4 class='text-xs-center'>View All Authors</h4>
    </a>
  </div>
</div>
