<div class="books">
  <a href="/books">
    <img src="" alt="" />
    <h2>View All Books</h2>
  </a>
</div>

<div class="authors">
  <a href="/authors">
    <img src="" alt="" />
    <h2>View All Authors</h2>
  </a>
</div>
