body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-fluid {
  padding: 0
}


.index-wrapper {
  background: url(../images/library.jpeg) no-repeat;
  background-color: white;
  background-size:cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  margin-left: 0px;
  padding: 15%
}

.opacity-box {
  margin: auto;
  height: 15rem;
  width: 40rem;
  background-color:rgba(211, 211, 211, 0.8);
  box-shadow:0px 0px 10px 5px rgba(211, 211, 211, 0.5);
}

img.index {
  width: 6rem;
  height: 6rem;
}

h4.index {
  color: rgba(0,0,0,.5);
}

div.index {
  margin-top: 5%;
}

img.authors{
  width: 15rem;
}

a.footer,
p.footer {
  color: rgba(0,0,0,.6);
}

/* seperate comma with new line*/
.display-book,
.display-author {
  margin: 5%;
}

form > div {
  margin-bottom: 1%;
  margin-top: 1%
}

.authorOptionTag {
  display: inline;
}
