<section class='create-book'>
  <form class="add-book" action="/books/add" method="post">

    <div class="title">
      <div>
        <label for="book-title">Title</label>
      </div>
      <div>
        <textarea name="title" rows="1" cols="100"></textarea>
      </div>
    </div>

    <div class="genre">
      <div>
        <label for="book-genre">Genre</label>
      </div>
      <div>
        <textarea name="genre" rows="1" cols="100"></textarea>
      </div>
    </div>

    <div class="cover_url">
      <div>
        <label for="book-cover_url">Cover Image URL</label>
      </div>
      <div>
        <textarea name="cover_url" rows="1" cols="100"></textarea>
      </div>
    </div>

    <div class="description">
      <div>
        <label for="book-description">Description</label>
      </div>
      <div>
        <textarea name="description" rows="6" cols="100"></textarea>
      </div>
    </div>
    <div>
      <input type="submit" value="addBook">
    </div>
  </form>
</section>
